.my-box{
	border: 1px solid #000;
	margin: 1%;
}
.my-column{
	margin: 1%;
}
input[type='text'],
textarea{
	width: 100%;
}
textarea{
	resize:none;
}
.pure-menu-open{
	width: 100%;
}
.pure-u-6-24 li{
	border-bottom: 1px solid black;
	background-color: #eee;
}
.pure-u-6-24 li:last-child{
	border-bottom: 0;
}
.pure-button.pure-button-primary{
	border-radius: 30px;
}